<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="pubs" connectionString="Data Source=DESKTOP-KLQQC4O;Initial Catalog=pubs;Integrated Security=true;TrustServerCertificate=true" />
	</connectionStrings>
	<appSettings>
		<add key="BranchID" value ="5"/>
	</appSettings>
</configuration>